<div class="container">
	
	<div class="time_bar">
	time bar
	</div>
	
	<div class="button_container">
		<div class="horse_number">
		 Horse number circle 	
		</div>	

		<div class="submit_button">
		Submit button circle	
		</div>
	</div>		

	<div class="feed">
	feed
	</div>

	<div class="trash_talk">
	trash talk
	</div>	
</div>	