<% @user.players.each do |p| %>

	<div class="container clearfix" >
		
		<div class="time_bar">
			<div class="time_fill">
			</div>	
		</div>
		
		<div class="button_container">
			
			<div class="horse_number">
			 <h1><%=p.horse_number%></h1>
	 	
			</div>	

			<div class="submit_button">
			<h1><%=link_to "+", new_submission_path(player_id: p.id)%></h1>	<%#link_to new_submissions_path(player_id: p.id)%>
			</div>
		</div>		

		

		<div class="feed">
			<% p.submissions.each do |s| %><%=link_to s.player.user.name + " " + s.notes, s.url%><%end%>
		</div>

		<div class="trash_talk">

		</div>	
	</div>	
<%end%>	